
@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fnt/subset-Raleway-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}




@font-face { font-family: 'docker-one'; src: url('../fnt/docker-one.ttf') format('truetype'); }
@font-face { font-family: 'droid-serif'; src: url('../fnt/droid-serif.ttf') format('truetype'); }
@font-face { font-family: 'oranienbaum'; src: url('../fnt/oranienbaum.ttf') format('truetype'); }
@font-face { font-family: 'roboto-regular'; src: url('../fnt/roboto-regular.ttf') format('truetype'); }

@font-face {
  font-family: 'icomoon';
  src: url('../fnt/icomoon.ttf?2k5c6d') format('truetype'),
    url('../fnt/icomoon.woff?2k5c6d') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}*/

:root {
  --calc-accent: #f68872; /* #000 */
  --border-top: 2px solid #ccc;
  --calc-border: #ccc;
  --calc-border-hover: #9a9a9a;

  --color-main: #444;
  --color-muted: #b8b7c4;
  --color-black: #222;
  --color-primary: #FFDC38;

  --color-muted-bg: #f2f2f2;
  --accent-bg: #f8f2f2; /* calculator panels? */

  --margin-block: 80px;
  --container-padding-m : 30px;
  --container-padding-s : 15px;

  --transition: .6s cubic-bezier(.215,.61,.355,1);
}

html {
  font-size: 16px;
}

body {
  color: var(--color-main);
  font-size: 16px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  font-weight: 400;
  overflow-x: hidden;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 700;
}

button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;

}

h4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 0;
}

a {
  transition-duration: 0.2s;
  color: var(--color-black);
}
.uk-link:hover, a:hover {
  color: var(--color-main);
}
.icon-instagram:before {
  content: "\e900";
}
.icon-vk:before {
  content: "\e901";
}
.social {
  font-family: icomoon;
  font-style: normal;
}
.social_instagram::before {
  content: "\e900";
}
.social_vk::before {
  content: "\e901";
}

.header-socials {
  /*margin-left: 30px;*/
}

.header-socials a {
  color: var(--color-muted);
  margin:0 10px;
}
.header-socials a:hover {
  color: var(--color-main);
}
.header-phone a {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-muted);
}

html {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title-muted {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 700;
    margin-bottom: 20px;
}


.woocommerce div.product form.cart .button, .product-detail_bottom form.cart .button {
  margin: 0 auto;
  width: 250px;
  display: block;
  border-radius: 25px;
  height: 50px;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-rounded {
  height: 40px;
  box-sizing: border-box;
  padding: 0;
  border-radius: 20px;
  display: block;
  min-width: 250px;
  margin: 0 auto;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  font-size: 0.75rem;
}

.button-blank {
  border:none;
  background: none;
  text-align: right;
}

.button-primary {
  background-color: var(--color-primary);
}

.header {
  background: var(--color-muted-bg);
  opacity: 0;
  transform: translateY(-20px);
  transition: transform var(--transition) 1.2s, opacity var(--transition) 1.2s;
}
.header a {
  color: var(--color-muted);
}

.header a:hover,
.header a:focus {
  color: var(--color-main);
}

.header_inview {
  opacity: 1;
  transform: translateY(0);

}


.uk-navbar-container:not(.uk-navbar-transparent) {
  background: var(--color-muted-bg);
}
.uk-navbar-item {
  min-height: 70px;
}


.header__navbar {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.header__navbar li {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.header__navbar a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.7rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI";
  padding: 0 10px;
}

.site-content {
  padding-top: 0;
}

.page-id-85 .site-content {
   padding-top: 0px;
  /*padding-bottom: 100px;*/
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-header {
  flex: 0 0 auto;
}
#content {
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
}
#colophon {
  flex: 0 0 auto;
  background: var(--color-muted-bg);
  padding: var(--container-padding-s) 0;
}

/* WOOCOMMERCE TEASER / PRODUCT */
/* hide quick view */

.product-detail {
  /*margin-bottom: 100px;*/
}

.woocommerce ul.products li.product {
  margin-bottom: 0;
}
.woocommerce ul.products li.product .footer-button .actions-button {
  display: none;
}
.woocommerce ul.products li.product .footer-button {
  opacity: 1;
  position: relative;
  bottom: 0;
  transform: none;
  display: none; /* temporary*/
}
.woocommerce ul.products li.product .product-inner:hover .footer-button {
  opacity: 1;
  bottom: 0;
  transform: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
  transform: none !important; /*disable slide animation*/
}
.woocommerce-product-gallery__wrapper{
  margin:0;
}
.woocommerce-product-gallery__image {
  /*position: absolute;*/
  left: 0;
  right: 0;
  /*opacity: 0;*/
  transition: opacity 0.2s ease;
  /*transition: all cubic-bezier(.795,-.035,0,1) .2s;*/
}
.woocommerce-product-gallery__image--active {
  opacity: 1;
  position: relative; /* make auto height of outer block */
}

.woocommerce-product-gallery__image a {
  pointer-events: none;
}


.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 100%;
  display: block;
}



.woocommerce div.product .product_meta {
  margin: 0;
  padding: 0;
  border:none;
}
.woocommerce div.product form.cart div.quantity,
.product-detail_bottom .cart .quantity {
  display: none;
}
.woocommerce div.product .woocommerce-product-details__short-description {
  /*border-bottom: var(--border-top);*/
  margin-bottom: 40px;
  /*padding-bottom: 30px;*/
}

.shop_table .actions .btn-shop {
  display: none;
}



/* WOOCOMMERCE  CART =============================================================*/

.woocommerce-checkout .product-one-page-checkout-wrap {
  position: relative;
  /*padding: 60px 0;*/
}
.woocommerce-checkout .product-one-page-checkout-wrap::before {
  content: '';
  background: var(--accent-bg);
  display: block;
  position: absolute;
  left: -1000px;
  top: 0;
  right: -1000px;
  bottom: 0;
  z-index: 0;
}

.product-one-page-checkout-wrap > * {
  z-index: 1;
  position: relative;
}
#one-page-shopping-cart {
  padding-top: 60px;

}
#one-page-shopping-checkout {
  padding-bottom: 60px;
}
.woocommerce table.shop_table .product-remove {
  width: 20px;
  box-sizing: content-box;
  padding-right: 0;
}

.woocommerce-cart-form__cart-item .product-price {
  width: 100px;
}

.woocommerce-cart-form__cart-item .product-quantity {
  width: 150px;
}
.woocommerce-cart-form__cart-item .product-subtotal {
  width: 150px;
}

.woocommerce-cart .woocommerce .cart-collaterals {
  /*margin-top: 0;*/
}

.one-page-shopping-section > .one-page-shopping-header {
  font-size: 40px;
  font-weight: 700;
}
.woocommerce-checkout form.checkout h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.5;
  font-weight: 700;
  margin-bottom: 20px;
}

.woocommerce table.shop_table {
  margin-bottom: 80px;
}


.woocommerce table.shop_table tr td.product-name dl.variation .variation-group, .woocommerce table.shop_table tbody td.product-name dl.variation .variation-group {
  flex-direction:column;
}

.woocommerce-checkout-review-order-table {
  /* table-layout: fixed; */
  display: none;
}

.variation-theurl p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.checkout-shipping {
  /*/*margin-bottom: 80px;*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column*/;
}
.woocommerce-notices-wrapper {
  display: none;
}

.woocommerce-checkout-payment {
  /*margin-bottom: 80px;*/
}

.woocommerce-checkout #payment {
  background: none;
  border-radius: 0;
}
.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: none;
  padding: 0;
  margin-bottom: 40px;
}
.woocommerce-checkout #payment div.form-row {
  padding: 0;
}
.woocommerce-checkout #payment div.payment_box {
  padding: 0px 33px;
  background: none;
  margin: 0;
  border-radius: 0;
  font-size: 1em;
}
.woocommerce-checkout #payment div.payment_box::before {
  display: none;
}

.woocommerce td.product-name dl.variation dt.variation-theurl {
  display: none;
}

.woocommerce-checkout form.checkout .form-row-first, .woocommerce-checkout form.checkout .form-row-last {
  float:none; /*for name input */
  width: 100%;
}
.woocommerce form .form-row {
  /*padding: 0 ;*/
  line-height: 1;
}
.woocommerce form .form-row-mod label {

}
.woocommerce form .form-row-mod label, .woocommerce-page form .form-row-mod label,
.delivery-points-field label {
  display: block;
  font-weight: 600;
  color: var(--color-main);
  font-size: 13px;
  line-height: 24px;

}


.woocommerce .shop_table button.button {
  background: none;
  border:none;
  border-radius: 0;
  font-weight: 300;
  padding: 0;
  text-align: right;
  font-size: 0.8rem;
}
.woocommerce button.button:hover {
  background: none;

}

.woocommerce-thankyou-order-received {
  text-align: center;
  margin-bottom: 100px;
  font-size: 2em;
}
.woocommerce-order-details__title {
  font-weight: 600;
}
.woocommerce-form__label-for-checkbox .required {
  display: none;
}


#billing_country_field {
  display: none;
}
.woocommerce-shipping-fields {
  display: none;
}
.woocommerce-checkout form.checkout .woocommerce-shipping-fields, .woocommerce-checkout form.checkout .woocommerce-account-fields {
  margin: 0;
}
span.optional {
  display: none; /* скрыть надпись необязательно */
}
.woocommerce-checkout #payment div.payment_box {
  padding: 0px 33px;
}
.woocommerce-checkout #payment ul.payment_methods > li > label {
  margin-bottom: 0;
}

span.woocommerce-terms-and-conditions-checkbox-text {
  color: var(--color-muted);
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
}
.woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label > span::before {
  left: 0px;
  top: -5px;
}
.woocommerce-checkout #payment div.payment_box p {
  font-size: 0.8em;
}
.woocommerce ul#shipping_method li label {
  font-weight: 600;
}
.woocommerce ul#shipping_method li label::before {
  font-weight: 400;
}
.woocommerce-checkout form.checkout h3 {
  margin-bottom: 10px;
}

/* CHECKOUT FIELDS GRID */
#billing_address_1_field {
  order: 6;
}
#billing_city_field {
  order: 5;
}
#billing_phone_field {
  order: 3;
}
#billing_email_field {
  order: 2;
}
#billing_first_name_field {
  order: 1;
}
.woocommerce-shipping-methods-wrap {
  order: 1;
  flex: 0 0 100%;
}

.woocommerce-billing-fields__field-wrapper {
  order: 2;
}
.woocommerce-billing-fields__field-wrapper > div {
  margin-bottom: 20px;
}
.woocommerce-billing-fields {
  order:2;
}


.delivery-points-field {
  order: 9;
  flex: 1 0 100%;
  /* width: 100%; */
  margin-top: 40px;
  box-sizing: border-box;
}

.form-row-mod {
  flex: 0 0 calc(33% - 30px);
}

.input-text {
    height: 45px;
    border-radius: 0;
    width: 100%;
    border: none;
    background: #fcfcfc;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

abbr[title] {
  text-decoration: none;
}

.input-text:hover {
  border-bottom: 1px solid var(--calc-border-hover);
}

.input-text_error-border {
  border:1px solid #ee1234;
}

.woocommerce-shipping-destination {
  display: none;
}
.woocommerce-shipping-methods-wrap {
  margin: 0px 0 60px;
}
.checkout-shipping {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .form-row-mod {
    flex: 0 0 calc(33% - 40px);
  }
}


.product_variation-name {
  font-size: 0.75rem;
  color: var(--color-muted);
}
.product_variation-value {
  font-size: 0.75rem;
}


.woocommerce-checkout .breadcrumbs {
  display: none;
}

/* ORDER DETAILS */

.woocommerce-order-overview {
  padding: 0;
}
.woocommerce .order_details li {
  /*text-align: center;*/
}

.wc-item-meta {
  padding: 0;
  margin-top: 0;
  font-size: 0.75em;
}

.woocommerce .woocommerce-table--order-details.shop_table th {
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/**/

.robokassa_payment_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.robokassa_payment_form_cancel { /* cancel button from robokassa plugin */
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--color-muted);
}
.button.cancel { /* cancel button from robokassa plugin */
  display: block !important;
  text-align: center !important;
  font-size:  !important;
  color: var(--color-black) !important;
  background: none !important;
  border:none !important;
}
.button.cancel:hover, .button.cancel:focus {
  background: none !important;
  border: none !important;
  color: var(--color-main);
}

.woocommerce input.submit_robokassa_payment_form {
  margin-bottom: 20px;
}



.woocommerce-privacy-policy-text p {
  font-size: 12px;
  color: var(--color-muted);
}

.woocommerce-order-pay .entry-content > .woocommerce {
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}


.woocommerce div.product .header-summary {
  flex-direction: column;
  align-items: center;
  /*border-top: var(--border-top);*/
  /*margin-top: 40px;*/
  /*padding-top: 30px;*/
  margin: 0;
}
.woocommerce div.product .product-detail_bottom span.price,
.woocommerce div.product .product-detail_bottom p.price,
.product-detail_bottom p.price {
  font-size: 40px;
  color: var(--color-black);
  text-align: center;
}
.woocommerce div.product form.cart {
  margin: 0;
  text-align: center;
}


p.price {
  margin-bottom: 10px;
}

.woocommerce-Price-currencySymbol {
  font-size: 0.7em;
}

.cart-note {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.cart-note .uk-icon {
  top: -8px;
  /* margin-top: -3px; */
  vertical-align: top;
  color: var(--color-muted);
}


calc {
  width: 100%;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  /* flex-direction: column; */
  /*flex-wrap: wrap;*/
  /*margin-left: -15px;*/
}
.calc-section-column {
  flex: 0 0 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--accent-bg);
  border-radius: 10px;
  padding: 15px;
}
calc section {
  /*margin-bottom: 15px;*/
  flex: 1 0 100%;
  /*padding: 15px;*/
  /*background: rgba(246, 136, 114, 0.1);*/
  /*border-radius: 10px;*/
}

.calc-section-wrap_right {
  padding: 15px;
}
.calc-section-wrap_left section {
  /*padding: 15px;*/
  box-sizing: border-box;
}
section[ccolor] {
  margin-bottom: 15px;
  /*flex: 1 1 25%;*/
}



.calc-section-row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.calc-section_text {
  flex: 1 1 auto;
}
.calc-section_align {
  flex: 0 0 auto;
}
.calc-section_font {
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.calc-section_font-title {
  flex: 0 0 auto;
  margin: 0 30px 0 0;

}
.calc-section_font-controls {
  flex: 0 0 auto;
}
.calc-section_color {
  flex: 0 0 100%;
}



.calc-radio label {
  display: block;
  margin: 10px 0;
  position: relative;
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.calc-radio label:focus {
  background-color: none;
  outline: none;
}

.calc-radio span {
  /*padding: 5px 15px 4px 15px;*/
  /*width: 100%;*/
  display: block;
  text-align: left;
  color: var(--color-muted);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 200ms ease-in;
  overflow: hidden;
  /*border: 1px solid var(--calc-border);*/
  /*line-height: 20px;*/
  box-sizing: border-box;
}

.calc-radio span:hover {
  /*border-color: var(--calc-border-hover);*/
  /*background: rgb(243, 243, 243);*/
  color: var(--color-main);
}



.calc-radio input:checked ~ span {
  /*border-color: var(--calc-accent);*/
  /*box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;*/
  color: var(--color-main);
}

.calc-radio input:checked ~ span:before {
  /*transform: translate(-50%, -50%) scale3d(56, 56, 1);*/
  /*opacity: 1;*/
}
.calc-radio label:focus span {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.15);
}


.calc-radio input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

/**/


.calc-colors {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row; /* test hide color name */
  /*justify-content: space-between;*/
  margin-top: 10px;
  margin: 10px -5px 0 -5px;
}

.calc-colors label {
  margin-right: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 5px 5px 5px;
}
.calc-colors span {
  padding: 0;
  border-radius: 50%;
  background: #fff;
  border:none;
  width: 25px;
  height: 25px;
  transition: transform 0.2s cubic-bezier(.4,2.98,0.63,0.25) 0s; /* bounce animation */
  transform: scale(0.8);
}
.calc-colors span::before {
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.calc-colors div {
  display: none; /* test hide color name */
}
.calc-colors div:hover {

}
.calc-radio input:checked ~ div {
  color: var(--calc-accent);
}

.calc-fonts span {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.calc-size {
  display: flex;
}
.calc-size label {
  flex: 0 0 auto;
  margin: 0 20px 0 0;
}
.calc-size label:last-of-type {
  margin-right: 0;
}
.calc-size span {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

.calc-align {
  display: flex;
}
.calc-align label {
  flex: 0 0 auto;
  /*margin-right: 10px;*/
}

.calc-align input ~ span {
  /*opacity: 0.3;*/
}
.calc-align input:checked ~ span,
.calc-align label:hover span {
  opacity: 1;
}

.calc-radio span.text-align {
  width: 20px;
  display: flex;
  justify-content: center;
  padding: 12px 8px;
  /*border: none;*/
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}
.text-align::before, .text-align::after {
  content: '';
  display: block;
  height: 3px;
  background: var(--color-muted);
  width: 100%;
  border-radius: 3px;
  transition: background 0.2s ease;
}
.calc-align input:checked ~ span:before,
.calc-align label:hover span:before,
.calc-align input:checked ~ span:after,
.calc-align label:hover span:after {
 background: var(--color-main);

}


.text-align:after {
  margin-top: 3px;
  width: 62%;
}
.calc-radio span.text-align__right {
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.calc-text label {
  margin: 10px 0;
  display: block;
}
.calc-text input {
  height: 26px;
  line-height: 20px;
  padding: 0;
  width: 100%;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--calc-border);
}
.calc-text input:hover, .calc-text input:focus {
  border-bottom: 1px solid var(--calc-border-hover);

}

/* .calc-colors input:checked ~ span, */
.calc-colors label.active span {
  transform: scale(1.02);
  border:none;
  box-shadow: none;
}



.calc-radio.calc-fonts {
  display: flex;
  flex-wrap: wrap;
}
.calc-fonts label {
  /*background-color: #fff;*/
  display: block;
  margin: 0px 10px 0px 0;
  padding: 0 8px;
  position: relative;
  /*flex: 0 1 calc(50% - 10px);*/
  flex: 0 0 auto;
}

.calc-text input[type="text"]::-moz-placeholder { color: var(--color-muted); }
.calc-text input[type="text"]::-webkit-input-placeholder { color: var(--color-muted); }
.calc-text input[type="text"]:-ms-input-placeholder { color: var(--color-muted); }
.calc-text input[type="text"]::-ms-input-placeholder { color: var(--color-muted); }
.calc-text input[type="text"]::placeholder { color: var(--color-muted); }

.calc-section-title {
  /* font-size: 16px; */
  font-weight: 600;
  font-size: 14px;
  color: var(--color-black);
}

.link_size-chart {

  display: none; /* testing */

  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  /*margin-left: 30px;*/
  color: var(--calc-accent);
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

/* */

.calc-section_image {
  flex: 1 1 50%;
  position: relative;
  margin-top: -160px;
}

.product-images-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  /*padding: 20px;*/
}
.product-images-wrapper img {
  max-height: 80vh;
  object-fit: contain;
}

.product-images-slideshow {
  max-height: 80vh;
}

.single-product sign { display: block; position: absolute; z-index: 200; margin-top: 42%; transition: color 0.2s ease}
.single-product sign.pos0 { text-align: center; width: 100%; }
.single-product sign.pos1 { margin-left: 50%;  }
.single-product sign p {
  margin: 0;
  padding: 0;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.1), 1px 1px 1px rgba(0,0,0,0.1);
}


.single-product sign p {
  --font-q: 1;
  --pos: 1;
  /*font-size: calc(7vw * var(--font-q));*/
  font-size: calc(2.5rem * var(--pos) * var(--font-q)); /* fix on desktop */
  line-height: 1em;
}
.single-product sign.pos1 p {
  --pos: 0.6;
}
.single-product sign p.size10 { --font-q: 0.8; }
.single-product sign p.size20 { --font-q: 0.6; }
.single-product sign p.size30 { --font-q: 0.4; }

.single-product sign.font-oranienbaum {
  transform: scale(1.3);
}




.single-product .wccpf-fields-container { display: none; }

section label { cursor: pointer; }

section[font] label:nth-child(1) span { font-family: docker-one; }
section[font] label:nth-child(2) span { font-family: droid-serif; }
section[font] label:nth-child(3) span { font-family: oranienbaum; }
section[font] label:nth-child(4) span { font-family: roboto-regular; }

section[ccolor] label:nth-child(1) span:before { background-color:#E9E5CE; }/*Бежево-серый*/
section[ccolor] label:nth-child(2) span:before { background-color:#756F61; }/*Жемчужно-белый*/
section[ccolor] label:nth-child(3) span:before { background-color:#0F4336; }/*Зелёный мох*/
section[ccolor] label:nth-child(4) span:before { background-color:#F70000; }/*Люминесцентный красный*/
section[ccolor] label:nth-child(5) span:before { background-color:#B42041; }/*Малиново-красный*/
section[ccolor] label:nth-child(6) span:before { background-color:#478A84; }/*Мятно-бирюзовый*/
section[ccolor] label:nth-child(7) span:before { background-color:#E75B12; }/*Оранжевый*/
section[ccolor] label:nth-child(8) span:before { background-color:#6A93B0; }/*Пастельно-синий*/
section[ccolor] label:nth-child(9) span:before { background-color:#D47479; }/*Розовый антик*/
section[ccolor] label:nth-child(10) span:before { background-color:#E1A6AD; }/*Светло-розовый*/
section[ccolor] label:nth-child(11) span:before { background-color:#154889; }/*Сигнальный синий*/
section[ccolor] label:nth-child(12) span:before { background-color:#232C3F; }/*Стально-синий*/
section[ccolor] label:nth-child(13) span:before { background-color:#F3E03B; }/*Цинково-жёлтый*/
section[ccolor] label:nth-child(14) span:before { background-color:#0A0A0D; }/*Чёрный янтарь*/



section[fcolor] label:nth-child(1) span:before { background-color:#756F61; }/*Бежево-серый*/
section[fcolor] label:nth-child(2) span:before { background-color:#E9E5CE; }/*Жемчужно-белый*/
section[fcolor] label:nth-child(3) span:before { background-color:#0F4336; }/*Зелёный мох*/
section[fcolor] label:nth-child(4) span:before { background-color:#F70000; }/*Люминесцентный красный*/
section[fcolor] label:nth-child(5) span:before { background-color:#B42041; }/*Малиново-красный*/
section[fcolor] label:nth-child(6) span:before { background-color:#478A84; }/*Мятно-бирюзовый*/
section[fcolor] label:nth-child(7) span:before { background-color:#E75B12; }/*Оранжевый*/
section[fcolor] label:nth-child(8) span:before { background-color:#6A93B0; }/*Пастельно-синий*/
section[fcolor] label:nth-child(9) span:before { background-color:#D47479; }/*Розовый антик*/
section[fcolor] label:nth-child(10) span:before { background-color:#E1A6AD; }/*Светло-розовый*/
section[fcolor] label:nth-child(11) span:before { background-color:#154889; }/*Сигнальный синий*/
section[fcolor] label:nth-child(12) span:before { background-color:#232C3F; }/*Стально-синий*/
section[fcolor] label:nth-child(13) span:before { background-color:#F3E03B; }/*Цинково-жёлтый*/
section[fcolor] label:nth-child(14) span:before { background-color:#0A0A0D; }/*Чёрный янтарь*/

section[size] {
  /*margin-top: 15px;*/
  /*padding-top: 30px;*/
  /*border-top: var(--border-top);*/
  /*background: #eee;*/
  position: relative;
}

#ywcnp_form_name_your_price { display: none; }

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  margin-left: -20px;
}
.flex-grid > div {
  flex: 1 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
}
.width-medium-1-3 {
  width: 33.333%;
}
.width-medium-1-2 {
  width: 50%;
}

@media (min-width: 1200px) {
  .width-large-1-6 {
    width: 16.666%;
  }
}
.about-advantages .about-icon {
  height: 66px;
  margin-bottom: 10px;
  opacity: 0.3;
}
.about-advantages .about-icon img {
  height: 100%;
  min-width: 100%;
  object-fit:contain;
  object-position: left;
}

.image-fullwidth {
    margin-left: calc(50% - (50vw));
    width: 100vw;
    max-width: none;
    object-fit: cover;
}



.margin-block {
  margin: 0px auto;
  padding: 50px 0 50px 0;
}
.margin-top {
  margin-top: 50px;
}
.margin-top-remove {
  margin-top: 0;
}
.margin-bottom-remove {
  margin-bottom: 0;
}
.block-fullwidth {
  padding: 0;
  /* width: 100%; */
  margin-left: calc(50% - (50vw));
  margin-right: calc(50% - 50vw);
  /*width: 100vw;*/
}

.block-bg-grey {
  position: relative;
}
.block-bg-grey:before {
  content:'';
  display: block;
  position: absolute;
  left:0;
  /*left:calc(50% - 50vw);*/ /* wrong */
  top:0;
  right:0;
  bottom:0;
  background: var(--color-muted-bg);
  z-index: 0;
}
.block-content {
  z-index: 1;
  position: relative;
}

.container-760 {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.container-980 {
  max-width: 980px;
  padding: 50px 110px;
  background: var(--color-muted-bg);
}
.text-muted {
  font-size: 0.8em;
  color: rgba(0,0,0,0.6);
}
.list-materials {
  list-style-type: none;
  padding-left: 0;
}
.list-materials > li {
  margin-bottom: 30px;
  font-size: 3.5rem;
}

.product-materials-title {
  margin-bottom: 0;
}


.product-material {
  font-size: 3.5rem;
}

.product-material-sub {
  font-size: 1.5rem;
  color: rgba(0,0,0,0.6);

}

.product-detail_top {
  /*text-align: center;*/
}
.product-detail_bottom{
  /*margin-bottom: 100px;*/
}

.wp-block-image_fullwidth {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: none;
}
.wp-block-image_fullwidth img {
  width: 100%;
}

/* text centered */
.single-product sign.pos0 {
  font-size: 4.5vw;
}
/* @media (min-width: 768px) {
  .single-product sign.pos0 {
    font-size: 44px;
  }
}
@media (min-width: 960px) {
  .single-product sign.pos0 {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .single-product sign.pos0 {
  }
} */

/* text left */
/* .single-product sign.pos1 {
  font-size: 2.7vw;
}
@media (min-width: 768px) {
  .single-product sign.pos1 {
    font-size: 23px;
  }
}
@media (min-width: 960px) {
  .single-product sign.pos1 {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .single-product sign.pos1 {
    font-size: 17px;
  }
} */

@media (max-width: 1199px) {
  .single-product.add-to-cart-sticky div.product div.summary .single_add_to_cart_button {
    position: static;
    width: auto;
    min-width: 0px;
  }

}

/* MAIN SCREEN */

.main-screen {
  min-height: calc(100vh - 70px);
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /*margin-bottom: -140px;*/
  z-index: 1;
}

.main-screen__columns {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-screen__left {
  flex: 0 0 50%;
}

.main-screen__title {
  font-size: 70px;
  line-height: 84px;
  font-weight: 700;
  margin: 0 0 40px 0;
  align-self: flex-start;
}
.main-screen__subtitle {
  margin-bottom: 20px;
  max-width: 340px;
}
.main-screen__steps-title {
  font-size: 22px;
  font-weight: 700;
  /*margin-bottom: 20px;*/
  color: #333;
}
.main-screen__steps {
  display: flex;

}
.main-screen__step {
  flex: 0 0 146px;
}
.main-screen__step-number {
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  color: #ccc;
}
.main-screen__step-text {

}



.main-screen__right {
  /*position: absolute;*/
  right: 0;
  top: 0;
}
.main-screen__advantages {
  display: block;
}
.main-screen__advantage {
  width: 290px;
}
.main-screen__advantage-image {
  margin-bottom: 15px;
}
.main-screen__advantage-image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.main-screen__advantage-text {

}


.list-how {
  padding-left: 0;
}
.list-how li {
  margin-bottom: 20px;
  list-style: none;
}
.list-how__text {
  font-size: 0.9rem;
  color: #666;
}

/* SHIPPING AND PAYMENT INFO */
.panel {
 padding: 30px 60px;
}
.panel__grey {
  background: var(--color-muted-bg);
}
.panel__blank {
  /*padding: 30px 0;*/
}

.list-icon {
  list-style-type: none;
  padding-left: 0;
  margin:0
}
.list-icon--item:not(:last-of-type) {
  margin-bottom: 30px;
}
.list-icon--item-icon {
  margin-bottom: 10px;
}
.list-icon--item-icon img {
  width: 80px;
  height: 60px;
}
.list-icon--item-text {

}

.list-icon--item-icon__payment img{
  height: 54px;
  width: 60px;
}
.list-icon__payment--item:not(:last-of-type) {
  margin-bottom: 15px;
}

/* FOOTER */

footer {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: var(--color-muted);
}
footer a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-muted);
}

.footer-grid {
  /*margin-bottom: 20px;*/
}

.footer-contacts__phone {
  margin-right: 20px;
}

.footer-socials {
  text-align: right;
  font-weight: 400;
  font-size: .875rem;
}
.footer-socials a {
  margin-left: 10px;
}
.footer-socials a:last-of-type {
  margin-right: 0;
}

/* OFFCANVAS STUFF */
/*========================= OFFCANVAS MENU ==================================================*/

/*.tm-navbar .uk-navbar-toggle,*/
.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.2s ease;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navbar-toggle:hover { /*up*/
  /*background: #f6f3ec;*/
}
html.uk-modal-page .navbar-toggle {
  z-index: 10000;
}
html.uk-modal-page body.page-main header.panel {
  z-index: auto; /* fix z-index for navbar-toggle */
}
.z-navbar-toggle {
  z-index: 2000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
}

.z-navbar-toggle:hover {
  text-decoration: none;
}
/* OFFCANVAS TOGGLE BUTTON */

.z-navbar-toggle span {
  display: inline-block;
  position: relative;;
  left: 0;
  height: 2px;
  background: #242e2d;
  width: 32px;
  vertical-align: middle;
  margin-top: -4px;
}

.z-navbar-toggle span:before,
.z-navbar-toggle span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 86%;
  height: 2px;
  background-color: #242e2d;
  content: "";
}

.z-navbar-toggle span:before {
  top: -6px;
}

.z-navbar-toggle span:after {
  bottom: -6px;
}


/* OFFCANVAS TOGGLE BUTTON ANIMATION */
.z-navbar-toggle {
  transform: rotate(180deg);
  transition: transform 0.3s ease 0s;

}
.z-navbar-toggle span {
  transition: width 0.1s 0.3s, background 0.1s 0.3s;
}
.z-navbar-toggle span:before,
.z-navbar-toggle span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.z-navbar-toggle span:before {
  transition-property: top, transform;
}

.z-navbar-toggle span:after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.uk-modal-page .z-navbar-toggle {
  transform: rotate(0);
}
.uk-modal-page .z-navbar-toggle span {
  background: none;
  width: 20px;

}
.uk-modal-page .z-navbar-toggle span:before {
  top: 0;
  transform: rotate(45deg);
}
.uk-modal-page .z-navbar-toggle span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
.uk-modal-page .z-navbar-toggle span:before,
.uk-modal-page .z-navbar-toggle span:after {
  transition-delay: 0s, 0.3s;
  /*width: 100%;*/
}

/* modal itself */

.uk-modal {
  background: none;
  padding: 0;

}
#menu .uk-modal-dialog-blank {
  height: auto;
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  transform: translateY(0);
  background: rgba(255,255,255,0.95);
  padding: 78px 15px 36px 15px;
  flex-direction: column;
}
.menu-modal-menu {
  flex: 1 0 auto;
}
.menu-modal-socials {
  flex: 0 0 auto;
}

#menu .uk-nav  li {
  opacity: 0;
  transform: translateX(-10px);
  transition: transform var(--transition) 1.2s, opacity var(--transition) 1.2s;
}



.menu-modal-menu .uk-nav > li {
  padding: 0 0 0 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.menu-modal-menu .uk-nav > li > a {
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 28px 0;
}
.uk-nav .menu-modal-products-nav {
  padding: 0;
}
.menu-modal-products-nav > li > a {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 28px;
  padding: 0;
}

.menu-modal-socials {
  display: flex;
  /* justify-content: space-around; */
  margin: 20px 0 0 0;
  font-size: 30px;
}
.menu-modal-socials > * {
  margin-right: 20px;
}

.menu-modal-phone,
.menu-modal-socials {
  opacity: 0;
  transform: translateX(-10px);
  transition: transform var(--transition) 0.6s, opacity var(--transition) 0.6s;

}
.menu-modal-phone {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 600;
}

.uk-modal a {
  color: #000;
}

/* modal open */

#menu.uk-open .uk-nav  li {
  opacity: 1;
  transform: translateX(0);
}

#menu.uk-open .menu-modal-phone,
#menu.uk-open .menu-modal-socials {
  opacity: 1;
  transform: translateX(0px);
}

/* ==================================================RESPONSIVE===================================================== */
/* ==================================================================================================================*/


@media screen and (min-width: 960px) {

  .single-product sign {
    margin-top: 24vmin;
  }
  .single-product sign p {
    font-size: calc(3.5vmin * var(--pos) * var(--font-q));
  }
  .product-images-slideshow {
    max-height: 80vmin;
  }
  .product-images-wrapper img {
    max-height: 80vmin;
  }


  @media (orientation : portrait) {

  }

  @media (orientation : landscape) {

  }
}


@media (max-width: 959px) {
  .uk-logo {
    padding-left: 3px;
  }

  .main-screen {
    margin-bottom: 0;
  }
  .woocommerce.single-product-layout-1 div.product .product-summary, .woocommerce.single-product-layout-1 div.product .product-images-wrapper {

  }
  .woocommerce.single-product-layout-1 div.product .product-summary {
    /*order:-1;*/
  }

  .header-socials {
    padding-right: 60px;
  }

  .product-detail_middle {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  calc {
    margin-left: 0;
    flex-direction: column;
    max-height: 100vh;
    flex-wrap:wrap;
  }

  .calc-section-column {
    /*padding-top: 0;*/
    flex: 0 0 auto;
    margin-bottom: 20px;
    width: 35%;
  }
  .calc-section_image {
    flex: 1 0 auto;
    width: 65%;
    margin-top: 0;
    order:3;
  }

  .single-product sign {
    /*margin-top: 20vmax;*/
  }
  .single-product sign p {
    /*font-size: calc(5vmax * var(--pos) * var(--font-q));*/
    font-size: calc(4.5vw * var(--pos) * var(--font-q));
  }
  .product-images-slideshow {
    /*max-height: 80vmax;*/
  }
  .product-images-wrapper img {
    /*max-height: 80vmax;*/
  }

  @media (orientation : portrait) {

  }

  @media (orientation : landscape) {
    .calc-section-column {
      width: 50%;
    }
    .calc-section_image {
      width: 50%;
    }
  }




  .calc-colors {
    /* flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll; */ /* test hide color name */
  }
  .calc-colors label {
    flex-direction: column;
    /*margin-right: 14px;*/
  }
  .calc-colors span {
    width: 35px;
    height: 35px;
  }
  .calc-radio span {

  }
  .calc-fonts span {

  }
  .calc-section-text {
    /*position: absolute;*/
    right: 15px;
    top: 13px;
  }
  .calc-align {
    /*flex-direction: column;*/
  }

  .flex-grid > div {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    /*padding-left: 0;*/
  }
  .margin-block {
    margin:0;
  }
  .block-fullwidth{
    /*margin-left: calc(50% - (50vw));*/
  }

  .badlon-slider {
    margin: 0 calc(var(--container-padding-m) * -1);
  }

  .woocommerce table.shop_table .product-remove {
    padding-right: 12px;
  }

  .footer-copyright {
    /*text-align: center;*/
  }
  .footer-copyright__link {
    display: block;
  }
}


/* MOBILE CALC OFFCANVAS BARS */

.uk-offcanvas-overlay::before {
  background: none;
}

.constructor-offcanvas__bar {
  background: var(--color-muted-bg);
  width: 220px;
  background: var(--color-muted-bg);

  display: flex;
  flex-direction: column;

}
.constructor-offcanvas__bar > * {
  flex: 0 0 auto;
}


.constructor-offcanvas__bar > * {
  color: var(--color-main) !important;
}

.constructor-offcanvas__bar .calc-section-wrap_right {
  padding: 0;
}

.constructor-offcanvas__close-button {
  position: static;
  background-color: #fff;
  min-width: 0;
  width: 100%;
  padding: 0 20px;

}

.product-bar {
  /*background-color: var(--color-muted-bg);*/
  padding: 20px 0;
  margin: 0 0;

}

.product-constructor-bar__controls {
  flex: 1 0 auto;
  margin-bottom: 20px;
}


.product-bar__inner {
  display: flex;
  justify-content: space-between;
}
.product-bar__link {
  flex: 0 0 auto;

  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
}


.constructor-offcanvas {

}
.constructor-offcanvas__bar {
}











/* ============================ */


@media (max-width: 639px) {

/*  .calc-radio span {
    padding: 12px 12px 10px 12px;
    height: 100%;
  }*/
  .flex-grid {
    margin-left:0;
  }
  .flex-grid > div {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 0;
  }

  .container {
    /*padding: 0 15px;*/
  }
  .product-detail_top {
    padding: 0;
  }
  .container-980 {
    padding: 30px 15px;
    margin:0 -15px;
  }

  calc {
    flex-wrap:nowrap;
    max-height: none;
  }
  .calc-section-column {
    width: auto;
  }
  .calc-section_image {
    width: 100%;
  }
  @media (orientation : portrait) {
    .single-product sign p {
      font-size: calc(6vw * var(--pos) * var(--font-q));
    }
  }
  @media (orientation : landscape) {

  }


  .woocommerce a.remove {
     display: inline;
     height: auto;
     width: auto;
    text-align: left;
    line-height: 1;
    border-radius: 0;
    color: #888 !important;
    text-decoration: none;
    font-weight: 400;
    border: 0;
    font-size: 12px;
  }
  .woocommerce a.remove:hover,
  .woocommerce a.remove:focus {
    background: none;
    color: #888 !important;
  }



  .form-row-mod {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .product-images-wrapper {
    padding: 0;
  }
  .main-screen {
    margin-bottom: 0;
  }
  .main-screen__title {
    font-size: 50px;
    line-height: 64px;
  }
  .main-screen__columns {
    flex-direction: column;
  }
  .main-screen__left {
    margin-bottom: 80px;
  }
  .main-screen__right {
    position: relative;
  }
  .main-screen__advantages {
    display: flex;
  }
  .main-screen__advantage {
    width: auto;
    flex: 0 0 150px;
    margin-right: 20px;
  }
  .main-screen__advantage-text {
    /* font-weight: 600; */
    /* color: #999; */
    font-size: 12px;
  }

  .panel {
      padding: 30px 15px;
      margin: 0 -15px;
  }

  .block-bg-grey:before {
    left: calc(var(--container-padding-s) * -1);
    right: calc(var(--container-padding-s) * -1);
  }

  .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    width: 100%;
    box-sizing: border-box;
  }

  .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  .badlon-slider {
    margin: 0 calc(var(--container-padding-s) * -1);
  }

  .badlon-slider li {
    width: 80%;
  }

  .single-product sign {
    margin-top: 44%;
  }
  .product-images-slideshow {
    max-height: none;
  }
  .product-images-wrapper img {
    max-height: none;
  }

  .footer-grid {
    margin-bottom: 20px;
  }
  .footer-socials {
    /*text-align: center;*/
    text-align: left;
  }
  .footer-socials a {
    margin-left: 0;
    margin-right: 10px;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    /*-ms-align-items: center;*/
    /*align-items: center;*/
  }
  .footer-contacts > * {
    margin-right:0
  }
  .footer-contacts__phone {
    margin-right:0
  }
}



.modal__overlay {
  z-index: 100;
}



/* ANIMATIONS */

[class*="uk-animation-"] {
  animation-duration: .7s;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: both;
  /*animation-iteration-count: infinite;*/
  /*animation-delay: 3s;*/
}

@keyframes uk-fade-scale-18 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes uk-fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}